// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

.Content {
  // sass-lint:disable-block no-important
  margin: 0;
  padding: 0 !important;
}

[guiType="PageContent"] {
  // sass-lint:disable-block no-important
  margin: auto;
  padding-top: 5px !important;
  width: 1024px;
}

body {
  // sass-lint:disable-block no-important
  overflow: hidden !important;

  > .WUIJRE {
    background-color: $COM_WUI_FRAMEWORK_WHITE;
    border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
    box-shadow: none;
    height: 768px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 1015px;
  }

  > .FOCUS {
    border: 1px solid $COM_WUI_FRAMEWORK_ORANGE;
    box-shadow: 0 0 4px 0 $COM_WUI_FRAMEWORK_GRAY;
  }
}

.#{$ComWuiFrameworkServicesNamespace}BasePageController {
  // sass-lint:disable-block no-vendor-prefixes
  .AppHeader {
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: 1000;

    .Label .Text {
      cursor: default;
    }
  }

  .AppDragBar {
    cursor: move;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;

    .DragBar {
      height: 20px;
      left: 0;
      position: relative;
      top: 0;
      width: 1015px;
    }
  }

  .AppButtons {
    float: right;
    left: -75px;
    position: absolute;
    top: 0;
    width: 75px;
    z-index: 1005;

    * {
      cursor: default;
    }

    .AppMinimize {
      position: relative;
    }
  }

  .AppContentLoader {
    display: block;
    float: left;
    min-width: 1024px;
    position: relative;

    .Label .Text {
      position: relative;
    }
  }

  .AppContentLoaderProgress {
    clear: both;
    margin: auto;
    width: 150px;
  }

  .AppResizeBars {
    left: -5px;
    position: absolute;
    top: -5px;

    .ResizeBar {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1000;

      .X,
      .Y,
      .XY {
        // sass-lint:disable-block no-important
        background: transparent !important;
        border: 0 solid transparent !important;
        height: 10px;
        left: 0;
        position: relative;
        top: 0;
        width: 10px;
      }
    }

    .Top .ResizeBar .Y {
      height: 8px;
    }

    .Top,
    .Bottom {
      .Left,
      .Right {
        .ResizeBar {
          z-index: 1004;
        }
      }
    }

    .Top .Right,
    .Bottom .Left {
      .ResizeBar .XY {
        cursor: ne-resize;
      }
    }
  }
}

.DeveloperCorner .Services {
  background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
  border-bottom: 3px solid $COM_WUI_FRAMEWORK_BLUE;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;

  .Label {
    color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
    font-size: 16px;
    left: 10px;
    position: absolute;
    top: 5px;
  }
}
